* {
  margin: 0;
  padding:0;
  text-align: center;
  font-family:  Fraunces, serif;
  color: #714a2e;
}

#header-img {
  width: 100%;
  height: 200px;
}

h1, h2 {
  font-size: 50px;
  margin-top: 20px;
}

body {
  background-color: beige;
}

hr {
  margin: 20px 0;
  border: 3px solid #714a2e
}

#espresso-pic {
  width: 200px;
  border-radius: 100px;
}



p {
  font-size: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

h2 {
  font-size: 40px;
  margin-top: 20px;
}

.about-pic {
  display: inline-block;
  width: 25%;
  margin: 15px;
  border-radius: 10px;
}

#menu .menu-card {
  display: inline-block;
  width: 25%;
}

#submit {
  margin-bottom: 100px;
}

footer {
  background-color: #714a2e;
}

footer > p {
  color: white;
}

#bottom-para {
  padding-bottom: 40px;
}
